# dependencies
node_modules
.pnpm-store

# next.js
.next
out

# testing
coverage
playwright-report
test-results

# misc
.DS_Store
*.pem
.env
.env*.local

# debug
npm-debug.log*
pnpm-debug.log*

# typescript
next-env.d.ts
